Xft.dpi: 96
Xft.antialias: true
Xft.hinting: 0
Xft.rgba: 0
Xft.autohint: 0
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

URxvt.font: xft:Terminus:style=Regular:pixelsize=16
URxvt.boldFont: xft:Terminus:style=Underline:pixelsize=16
URxvt.saveLines: 65535
URxvt*fading: 30
URxvt.letterSpace: 0
URxvt.scrollBar: false
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt*transparent: true
URxvt*shading: 30

!Theme Sixteen
URxvt*depth: 32
URxvt*background: [80]#111111
URxvt*foreground: rgb:dd/dd/dd
URxvt*color0:     rgb:00/00/00
URxvt*color1:     rgb:9e/18/28
URxvt*color2:     rgb:ae/ce/92
URxvt*color3:     rgb:96/8a/38
URxvt*color4:     rgb:41/41/71
URxvt*color5:     rgb:96/3c/59
URxvt*color6:     rgb:41/81/79
URxvt*color7:     rgb:be/be/be
URxvt*color8:     rgb:66/66/66
URxvt*color9:     rgb:cf/61/71
URxvt*color10:    rgb:c5/f7/79
URxvt*color11:    rgb:ff/f7/96
URxvt*color12:    rgb:41/86/be
URxvt*color13:    rgb:cf/9e/be
URxvt*color14:    rgb:71/be/be
URxvt*color15:    rgb:ff/ff/ff

/*
! Hybrid Terminal Colours. Uses the palette from Tomorrow-Night:
! https://github.com/chriskempson/tomorrow-theme/blob/master/vim/colors/Tomorrow-Night.vim
! vim: ft=xdefaults
 
*background: #111111
*foreground: #CCCCCC
! black
*color0: #282A2E
*color8: #373B41
! red
*color1: #A54242
*color9: #CC6666
! green
*color2: #8C9440
*color10: #B5BD68
! yellow
*color3: #DE935F
*color11: #F0C674
! blue
*color4: #5F819D
*color12: #81A2BE
! magenta
*color5: #85678F
*color13: #B294BB
! cyan
*color6: #5E8D87
*color14: #8ABEB7
! white
*color7: #707880
*color15: #C5C8C6 

*/

